# ignore backup files
*~
ignore/
# ignore LaTeX output files
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.fls
*.bbl
*.bcf
*.blg
*.xml
*.gz
*.fdb*
*.pdf
# ignore template files
.template/
common
useTemplate.sh
texCompile.sh

# ignore all changes to the directory .template/


